<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <input class="input" v-model="message" />

        <div class="box">
          <h2 class="title is-2">CCID</h2>
          <table class="table">
            <thead>
              <tr>
                <td>Key</td>
                <td>Value</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in ccid()">
                <td>{{item.key}}</td>
                <td>{{item.value}}</td>
              </tr>
            </tbody>
          </table>
          <div>{{ ccid() }}</div>
        </div>

        <div class="box">
          <h2 class="title is-2">APDU</h2>
          <table class="table">
            <thead>
              <tr>
                <td>Key</td>
                <td>Value</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in apdu()">
                <td>{{item.key}}</td>
                <td>{{item.value}}</td>
              </tr>
            </tbody>
          </table>
          <div>{{ apdu() }}</div>
        </div>

        <div class="box">
          <h2 class="title is-2">FeliCaコマンド</h2>
          <table class="table">
            <thead>
              <tr>
                <td>Key</td>
                <td>Value</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in feliCaCommand()">
                <td>{{item.key}}</td>
                <td>{{item.value}}</td>
              </tr>
            </tbody>
          </table>
          <div>{{ feliCaCommand() }}</div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: "6B 25 00 00 00 00 0C 00 00 00 FF 50 00 01 00 00 1B 5F 46 04 80 1A 06 00 95 82 00 10 10 06 01 13 03 00 5E 1A 9C 05 01 09 10 01 80 01 00 00 00",
        },
        methods: {
          ccid: function () {
            const result = [];

            const ccid = this.message.trim().split(" ");
            result.push({ key: "bMessageType", value: ccid.slice(0, 1) });
            result.push({ key: "dwLength", value: ccid.slice(1, 5) });
            result.push({ key: "bSlot", value: ccid.slice(5, 6) });
            result.push({ key: "bSeq", value: ccid.slice(6, 7) });
            result.push({ key: "abRFU", value: ccid.slice(7, 10) });
            result.push({ key: "abData", value: ccid.slice(10) });

            return result;
          },
          apdu: function () {
            const result = [];

            const apdu = this.message.trim().split(" ").slice(10);
            result.push({ key: "CLA", value: apdu.slice(0, 1) });
            result.push({ key: "INS", value: apdu.slice(1, 2) });
            result.push({ key: "P1", value: apdu.slice(2, 3) });
            result.push({ key: "P2", value: apdu.slice(3, 4) });
            result.push({ key: "Lc", value: apdu.slice(4, 5) });
            result.push({ key: "DataField", value: apdu.slice(5, 8) });
            result.push({ key: "Le", value: apdu.slice(8, 9) });

            return result;
          },
          feliCaCommand: function () {
            const result = [];

            const feliCaCommand = this.message.trim().split(" ").slice(29);
            if (!feliCaCommand.length) {
              return [];
            }

            const commandCode = feliCaCommand.slice(0, 1);
            if (commandCode == '00') {
              result.push({ key: "コマンドコード", value: commandCode });
              result.push({ key: "システムコード", value: feliCaCommand.slice(1, 3) });
              result.push({ key: "リクエストコード", value: feliCaCommand.slice(3, 4) });
              result.push({ key: "タイムスロット", value: feliCaCommand.slice(4, 5) });
            } else if (commandCode == '06') {
              debugger;
              const serviceCount = feliCaCommand.slice(9, 10);
              const blockCount = feliCaCommand.slice(10 + 2 * Number(serviceCount[0]), 10 + 2 * Number(serviceCount[0]) + 1);
              result.push({ key: "コマンドコード", value: commandCode });
              result.push({ key: "IDm", value: feliCaCommand.slice(1, 9) });
              result.push({ key: "サービス数", value: serviceCount });
              result.push({ key: "サービスコードリスト", value: feliCaCommand.slice(10, 10 + 2 * Number(serviceCount[0])) });
              result.push({ key: "ブロック数", value: blockCount });
              result.push({ key: "ブロックリスト", value: feliCaCommand.slice(10 + 2 * Number(serviceCount[0]) + 1, 10 + 2 * Number(serviceCount[0]) + 1 + 2 * Number(blockCount[0])) });
            }

            return result;
          },
        },
      });
    </script>
  </body>
</html>
